/* Common */
.blur-overlay {
  position: absolute;
  opacity: 1;
  backdrop-filter: blur(3px);
  transition: opacity 0.2s ease-in-out;
}

/* For Chat List */
.chatlist .chatlist-chat {
  position: relative;
}

.chat-box-blur-overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.chatlist-chat:hover .blur-overlay {
  opacity: 0;
}

.chatlist-chat .avatar-photo {
  filter: blur(3px);
}

.chatlist-chat:hover .avatar-photo {
  filter: none;
}

/* For In Chat */
.message-blur-overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 17px;
}

.is-in .message-blur-overlay {
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 18px), calc(100% - 40px) calc(100% - 18px), calc(100% - 40px) 100%, 0 100%);
}

.is-out .message-blur-overlay {
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 18px), calc(100% - 56px) calc(100% - 18px), calc(100% - 56px) 100%, 0 100%);
}

.bubble-content-wrapper:hover .blur-overlay {
  display: none;
}