/* Common */
.blur-overlay {
  position: absolute;
  opacity: 1;
  backdrop-filter: blur(3px);
  transition: opacity 0.2s ease-in-out;
}

.common-blur-overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* For Chat List */
.chatlist .chatlist-chat {
  position: relative;
}

.chatlist-chat:hover .blur-overlay {
  opacity: 0;
}

.chatlist-chat .avatar-photo {
  filter: blur(3px);
}

.chatlist-chat:hover .avatar-photo {
  filter: none;
}

.dialog-title .peer-title, .dialog-subtitle .row-subtitle, .dialog-title-details .peer-detail {
  padding: 3px;
}

/* For In Chat */
.message-blur-overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 17px;
}

.is-in .message-blur-overlay {
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 18px), calc(100% - 40px) calc(100% - 18px), calc(100% - 40px) 100%, 0 100%);
}

.is-out .message-blur-overlay {
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 18px), calc(100% - 56px) calc(100% - 18px), calc(100% - 56px) 100%, 0 100%);
}

body .bubble-content .name {
  padding: 6px 6px 0;
}

.bubble-content .peer-title {
  padding: 4px;
}

.media-attachment-blur-overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 17px;
  z-index: 1;
  backdrop-filter: blur(16px);
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 18px), calc(100% - 40px) calc(100% - 18px), calc(100% - 40px) 100%, 0 100%);

}

.media-photo, .media-sticker, .bubbles-group .avatar-photo {
  filter: blur(16px);
}

.bubble-content-wrapper:hover .blur-overlay {
  display: none;
}

.bubble-content-wrapper:hover .media-photo, .bubble-content-wrapper:hover .media-sticker {
  filter: none;
}

.bubbles-group:hover .avatar-photo {
  filter: none;
}

.person .avatar-photo {
  filter: blur(4px);
}

.person:hover .avatar-photo {
  filter: none;
}

.person:hover .blur-overlay {
  display: none;
}

.person .peer-title, .person .info {
  padding: 3px;
}

.person .info {
  padding-left: 3px;
}



